fastapi==0.115.6
uvicorn[standard]==0.34.0

python-dotenv==1.0.1

sqlalchemy==2.0.36
psycopg2-binary==2.9.10
alembic==1.14.0

pydantic==2.10.4
pydantic-settings==2.7.0

python-multipart==0.0.20

passlib[bcrypt]==1.7.4
python-jose[cryptography]==3.3.0

ultralytics==8.3.40
opencv-python==4.10.0.84

easyocr==1.7.2

pyttsx3==2.98

Pillow==11.0.0
numpy==2.2.0

loguru==0.7.3