@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Inter, Arial, sans-serif;
  background: linear-gradient(135deg, #eef5ff, #edf4ff, #f8f5ff);
}

* {
  box-sizing: border-box;
}